html {
  font-size: 62.5%;
}

.w-f {
  width: 100vw;
}

.w-90 {
  width: 90vw;
}

.d-flx {
  display: flex;
}

.d-flx-jc-cen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.d-flx-jc-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.d-flx-jc-se {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.d-flx-jc-sa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* header-- */

.header-container-inner {
  height: 176px;
  margin-bottom: 40px;

  box-shadow: 0px 2px 4px #888888;
}

.larg-header {
  margin: 30px 0px 0px 0px;
}

.social-icon {
  width: 45%;
}

.social-icon ul li {
  list-style: none;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 0px 8px 0px 8px;
}

.social-icon ul li img {
  padding: 0px 8px 0px 0px;
}

.nav-left {
  width: 61%;
  height: 40px;
}

.nav-righ {
  width: 11%;
}

.nav-list ul li {
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 55px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
}

.nav-right p {
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 55px 0px 0px 0px;
}

.navbar {
  height: 100px;
  background-color: rgb(222, 145, 145);
}

.navbar-icon-2 {
  display: inline-block;
}

.navbar-icon-2 {
  display: inline-block;
}
/* small-header-- */

.nav-bar {
  width: 100vw;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color:#FFFFFF;
  padding: 12px 20px;
  box-shadow:0px 5px 10px #00000014;
}
.logo img {margin-left: 10vw;}
.menu {display: flex;}
.menu li {padding-left: 21px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color:#484848;
  text-align: left;
  transition: 0.15s ease-in-out;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color:white;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 10vw;
}
#check {display: none;}
@media(max-width: 760px){
  .menu {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 50px;
      /* height: 100vh; */
      position: fixed;
      top: 0px;
      right: 100%;
      z-index: 100;
      background-color: #FFFFFF;
      transition: all 0.3s ease-in-out;
  }
  .menu li {margin-top: -14px;}
  .menu li a {padding-left: 10px;
      padding-top: 22px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;
    scroll-behavior: inherit;
  }
}
.upper{
  width: 100vw;
  height: 57px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0px;
  box-shadow:0px 5px 10px #00000014;
}
.list{
  margin-top: 11px;
}
.nav-border{
  width: 100vw;
  height: 55px;
  border-bottom: 2px solid #00000014;
}
.upper img{
  margin-top: 5px;
  margin-left: 33vw;
}
.subscribe{
  font-size: 12px;
  font-weight: 600;
  color: #222222;
  font-family: "Montserrat", sans-serif;
}
.fas{
  font-size: 23px;
  color: #484848;
}
.subscribe-color{
  color: #F83900;
  padding-left: 9px;
}
.mobile-version{
  display: none;
}

/* manufacturing-section-- */

#manufactur-btn {
  width: 164px;
  height: 34px;
  background-color: #096FFA;
  margin-top: 24px;
  border: 1px solid rgb(17, 17, 40);
  border-style: none;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 0.024px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

.update {
  margin: 15px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #798692;
  font-weight: 500;
}

.update-date {
  margin: 0px 18px 0px 0px;
}

.updater-name {
  margin: 0px 0px 0px 5px;
}

.updater-dott {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #798692;

}

/* top-card--- */

.top-card {
  margin-bottom: 40px;
}

.top-box {
  width: 274px;
  height: 290px;
  flex: 0 0 274px;
  margin: 40px 0px 0px 0px;
  position: relative;
}

.top-box-title {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #096FFA;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 19px 0px 0px 0px;
}

.top-box-para {
  font-size: 16px;
  letter-spacing: 0.16px;
  color: #222222;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 7px 0px 0px 0px;
}

.prim-card {
  position: relative;
}

.primium-card {
  position: absolute;
  top: 129px;
  right: 14px;
}
.responses{
  display: none;
  margin-top: 40px;
}

.top-card-1-para{
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #776f6f;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.top-card-1-img{
  width: 120px;
  height: 95px;
  flex: 0 0 110px;
}
.top-card-1-title{
  font-size: 10px;
  letter-spacing: 1px;
  color: #096FFA;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 0px 0px 2px 0px;
}
.updaters {
  margin: 15px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #798692;
  font-weight: 500;
  padding-left: 0px;
}
.crousal-btn-style {
  margin: 5px 0px 0px 3px;
}

.prime{
  position: relative;
}
.card-prim{
  position: absolute;
  top: 68px;
  right: 7px;
}

/* editor section--- */

.editor-imgi-1{
  width: 350px;
}
.editor-container {
  margin: 40px 0px 40px 0px;
}
.editor-1 {
  width: 372px;
  padding: 20px 0px 0px 0px;
  position: relative;
}

.editor-prim {
  position: absolute;
  top: 181px;
  right: 33px;
}

.editor-2 {
  width: 497px;
  height: 341px;
  border-color: #E3E3E3;
  border-style: none solid none none;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

.editor-3 {
  width: 300px;
  height: 300px;
  padding: 20px 0px 0px 0px;
}

.editer-2-box-1-content {
  margin: 0px 0px 0px 10px;
}

.editor-container-title {
  color: #000000;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}

.edit-heading {
  font-size: 12px;
  color: #096FFA;
  letter-spacing: 1.2px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 1.4rem;
}

.edit-para {
  color: #222222;
  font-size: 18px;
  left: 0.36px;
  margin: 10px 0px 0px 0px;
}

.editer-2-box-1 {
  height: 108px;
  border-color: #E3E3E3;
  border-style: none none solid none;
  margin-top: 5px;
  position: relative;
}

.finamce-prime {
  position: absolute;
  left: 54px;
  top: 61px;
}

.editer-2-box-1-title {
  color: #096FFA;
  font-size: 12px;
  letter-spacing: 0.12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.editer-2-box-1-para {
  color: #222222;
  font-size: 14px;
  letter-spacing: -0.28px;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  font-weight: 500;
  margin: 8px 0px 0px 0px;
}

.third {
  border-style: none;
}

.editor-empty {
  border-width: 1px;
  border-color: #E3E3E3;
  border-style: solid;
  margin-top: 4rem;
  background: #E3E3E3;
}

.second {
  padding-right: 20px;
  margin-right: 26px;

}

/* twitter-section-- */

.twit-box-1 {
  width: 369px;
  height: 399px;

  position: relative;
}

.twit-box-2 {
  width: 300px;
  height: 399px;
  margin: 0px 20px 0px 20px;
}

.twit-box-2-title {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222222;
  margin-bottom: 2rem;

}

.twit-box-3 {
  width: 320px;
  height: 298px;
}

.twit-box-1-caption {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 12px;
  letter-spacing: -0.024rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #484848;
  line-height: 16px;
  top: 340px;
  left: 15px;
}

/* crousal   or about-card--- */

.container-body {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.main-container {
  max-width: 90vw;
  position: relative;
}

.main-container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.main-container .carousel::-webkit-scrollbar {
  display: none;
}

.main-container .carousel .item {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
  flex: none;
  position: relative;
}

.main-container .carousel .item .info {
  height: 300px;
}

#btns-1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -12px;
  width: 40px;
  height: 40px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #316DF1;
}

#btns-2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -22px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #316DF1;
}

#btns-1 {
  transform: rotate(180deg);
}

.About-image {
  margin: 5px 5px 0px 4px;
}

.About-para {
  margin: 11px 0px 0px 0px;
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  padding-left: 7px;
}

.update-section {
  font-family: "Montserrat", sans-serif;
  color: #798692;
  font-weight: 500;
  margin-top: 16px;
}

.date {
  margin: 0px 0px 0px 20px;
}

.About-updater-dott {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #798692;
}

.limited-partner {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
  color: #000000;
}

.limited-partner img {
  padding: 0px 0px 0px 8px;
}

.About-view-more {
  font-size: 14px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.About-line {
  height: 1px;
  border: 1px solid #F0F0F0;
  background-color: #F0F0F0;
  margin-top: 30px;
}
.about-premium{
  position: absolute;
  top: 98px;
  right: 8px;
}
.merger-short{
  display: none;
}

/* primium-- */

.primium-container-body {
  display: flex;
  justify-content: center;
  background-color: #000000;
  height: 500px;
  margin: 40px 0px 0px 0px;
}

.color {
  color: #FFFFFF;
}

.main-container {
  max-width: 90vw;
  position: relative;
  padding: 0px 0px 0px 0px;
}
.main-cont-pad{
  padding-top: 44px;
}

.main-container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.main-container .carousel::-webkit-scrollbar {
  display: none;
}

.main-container .carousel .primium-item {
  background-color: white;
  margin: 10px;
  border-radius: 16px;
  flex: none;
  width: 260px;
  height: 300px;
  position: relative;
}

.primium-prime {
  position: absolute;
  top: 121px;
  right: 14px;
}

.main-container .carousel .item .info {
  height: 300px;
}

.primiums-About-title {
  text-align: left;
  padding: 0px 0px 0px 20px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #096FFA;
  margin: 10px 0px 0px 0px;
}

.primiums-About-para {
  text-align: left;
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  line-height: 20px;
  margin: 8px 0px 0px 0px;
}

.update-date {
  margin: 0px 8px 0px 0px;
}

.VCCircle-Premium {
  color: white;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 3rem 0rem 3rem 0rem;
}

.primium-subscribe-btn {
  color: white;
  background-color: #096FFA;
  width: 112px;
  height: 27px;
  border-radius: 17px;
  border-style: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.mobile-btn {
  color: white;
  background-color: #096FFA;
  width: 240px;
  height: 36px;
  border-radius: 17px;
  border-style: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 26px;
  display: none;
}
.About-card{
  margin-bottom: 10px;
}

/* eventss--- */

.events-items {
  width: 400px;
  height: 110px;
  border: 1px solid #0000001A;
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 12px;
  flex: none;
}

.m-20{
  margin-bottom: 20px;
}
.mob-event{
  width: 328px;
  height: 118px;
  border: 1px solid #0000001A;
  border-radius: 12px;
  box-shadow: -2px 5px 10px #0000001A;
}
.mob-event-img{
  margin-left: 13px;
  margin-top: 12px;
}
.mob-content{
  margin-left: 10px;
  margin-top: 12px;
}
.mob-content-title{
  color:#096FFA ;
  font-size : 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.mob-content-heading{
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 6px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.mob-content-para{
  font-size: 10px;
  color: #333333;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 4px;
}

.event-content-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 15px 0px 0px 20px;
}

.event-content-para {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: #333333;
  margin: 2px 0px 0px 20px;
}
.mob-ver{
  display: none;
}
.event-image{
  padding: 7px;
}

/* vccc section-- */

.vcc {
  margin: 40px 0px 0px 0px;
}

.vcc-inner {
  border: 1px solid#00000040;
  border-radius: 14px;
  height: auto;
}

.vcc-heading {
  margin: 30px 0px 0px 30px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.vcc-para {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 30px 30px 0px 0px;
}

.vcc-box-1 {
  width: 554px;
  height: 312px;
  margin-top: 30px;
  flex: 1 1 350px;
  margin: 0px 0px 0px 0px;
  margin: 30px;
}

.vcc-box-2s {
  width: 554px;
  height: 312px;
  margin-top: 30px;
  flex: 1 1 350px;
  margin: 0px 0px 0px 30px;
  margin: 30px;
}

.vcc-box-2-heading {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.2px;
  color: #096FFA;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.vcc-box-2-title {
  font-size: 24px;
  line-height: 34px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 10px 0px 14px 0px;
}

.vcc-box-2-para {
  font-size: 14px;
  line-height: 22px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.update-section-tv {
  margin-top: 10px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #798692;
  font-weight: 500;
  margin-top: 16px;
}

.tv-update-date {
  margin: 0px 12px 0px 0px;
}

.tv-updater-dott {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #798692;
}

.tv-updater-name {
  margin: 0px 0px 0px 4px;
}

/* input section-- */

.input-section-content {
  width: 90vw;

  height: auto;
  background-color: #000000;
  border: 5px solid #000000;
  border-radius: 14px;
}

.input-contant-1 {
  width: 600px;
  background-color: #000000;
  display: flex;
  flex: 1 1 300px; 
}

.input-contant-2 {
  width: 600px;
  background-color: #000000;
  display: flex;
  flex: 1 1 300px;
}

.sign-btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  background-color: #096FFA;
  color: #FFFFFF;
  font-size: 14px;
}

.input-field {
  height: 50px;
  width: 340px;
  background-color: #FFFFFF34;
  border: 1px solid #FFFFFF34;
  border-radius: 8px;
  margin-right: 15px;
  padding: 0px 0px 0px 15px;
  color: #FFFFFF80;
}

.input-envlp {
  width: 18%;
}

.envlp-para {
  margin: 16px 0px 0px 20px;
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;

}

.envlp-para-1 {
  font-size: 18px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 0px 0px 0px 80px;

}

.input-left {
  align-items: center;
}

.input-right {
  align-items: center;
}

/* more-story-- */

.more-story {
  margin: 40px 0px 40px 0px;
}

.more-story-heading {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.story-left {
  width: 568px;
  height: auto;
  flex: 1 1 400px;
}
.story-right {
  width: 568px;
  height: auto;
  flex: 1 1 400px;
}

.finnance-section {
  margin: 0px 0px 20px 0px;
  position: relative;
}
.story-prime-card{
  position: absolute;
  top: 99px;
  left: 154px;
}

.more-story-heading {
  margin: 0px 0px 30px 0px;
}

.finance-content {
  padding: 0px 0px 0px 15px;
}

.finance-content-title {
  font-size: 14px;
  font-weight: 700;
  color: #096FFA;
  letter-spacing: 1.4px;
  font-family: "Montserrat", sans-serif;
}

.finance-content-para {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0px 0px 0px;
  padding: 0px 30px 0px 0px;
}

/*larger advertisment--- */

.adver-inner {
  height: 130px;
  background-color: #F0F0F0;
}

.adve-title {
  color: #222222;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 0.5rem;
}

.adver-image {
  width: 80%;
}

.smallAdver {
  display: none;
}

/* small-advertisment-card-- */

.smallAdver {
  width: 300px;
  height: 278px;
  background-color: #F0F0F0;
}

.smallAdver-heading {
  margin: 6px 0px 6px 0px;
  font-size: 12px;
  color: #222222;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;

}
.editor-smallAdver{
  width: 300px;
  height: 278px;
  background-color: #F0F0F0;
}
.editor-smallAdver-heading{
  margin: 6px 0px 6px 0px;
  font-size: 12px;
  color: #222222;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/* footer */
.footer {
  height: 292px;
  background-color: #000000;
  margin-top: 40px;
}

.footer-title img {
  margin-top: 20px;
}

.footer-social-media {
  margin: 20px 0px 0px 0px;
}

.footer-twiter {
  margin: 0px 24px 0px 24px;
}

.footer-nav {
  margin-top: 30px;
}

.footer-nav ul li {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav ul li {
  list-style: none;
  padding: 0px 16px 0px 16px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFFB2;
}

.our-product ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-product {
  margin-top: 25px;
}

.our-product ul li {
  list-style: none;
  padding: 0px 12px 0px 12px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.copyright {
  margin-top: 28px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.primium-card button {
  width: 60px;
  height: 18px;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  background-image: linear-gradient(to right, #FE8C00, #F83600);

}

/* manufacturing-- */

.manufacture-inner {
  flex-wrap: wrap;
}

.manufacture-right {
  width: 568px;
  margin-top: 40px ! important;
  padding-left: 20px;
}

.manufacture-left {
  width: 50%;
  margin-top: 30px !important;
  padding-left: 20px;
}

 .manufacture-title{
  color: #096FFA;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.manufacture-heading {
  color: #000000;
  font-size: 28px;
  letter-spacing: -0.64px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.manufacture-para {
  color: #776f6f;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

/* media-quaries start fro here-- */

@media screen and (min-width: 1320px) and (max-width: 1440px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1140px) and (max-width: 1320px) {
  .nav-left {
    width: 70%;
  }

  .editor-3 {
    margin: auto;
  }

  .manufacture-right {
    margin: auto;
  }

  .manufacture-left {
    margin: auto;
    width: 40%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1140px) {
  html {
    font-size: 55%;
  }
  .nav-right p{
    font-size: 10px;
  }

  .nav-left {
    width: 80%;
  }

  .nav-list ul li {
    font-size: 10px;
  }

  .social-icon ul li {
    font-size: 10px;
  }
 
  .twit-box-3 {
    margin: auto;
    margin-top: 40px;
  }

  .top-box {
    margin: auto;
    margin-top: 40px;
  }

  .editor-3 {
    margin: auto;
  }

  .finance-content-para {
    font-size: 15px;
    line-height: 18px;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
  }
  .story-left {
    width: 568px;
    height: auto;
    flex: -1 1 400px;
  }

  .manufacture-right {
    margin: auto;
  }

  .manufacture-left {
    margin: auto;
    width: 64%;
  }
  .manufacture-inner{
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
  html {
    font-size: 48%;
  }
  .manufacture-inner{
    flex-direction: column-reverse;
    width: 90%;
  }
  .manufacture-left {
    margin: auto;
    width: 70%;
    margin-bottom: 40px;
  }
  .manufacture-right {
    margin: auto;
  }
  
  .nav-left {
    width: 78%;
  }

  .nav-list ul li {
    font-size: 9px;
  }

  .nav-right p {
    font-size: 10px;
  }

  .social-icon ul li {
    font-size: 10px;
  }

  .top-box {
    margin: auto;

  }
  .editor-2 {
    width: auto;
    margin-left: 0px;
    border-style: none none none none;
    margin: auto;
    padding-left: 30px;
  }

  .editor-1 {
    margin: auto;
  }
  .editer-2-box-1-para {
    line-height: 21px;
    margin: 4px 0px 0px 0px;
}

  .editor-3 {
    margin: auto;
  }

  .twit-box-1 {
    width: 50%;
  }

  .twit-box-2 {
    margin: auto;
    margin-top: 40px;
  }
  .twit-box-3{
    margin: auto;
    margin-top: 40px;
  }

  .editor-container-title {
    margin: 0px 0px 0px 0px;
  }

  .envlp-para {
    margin: 0px 0px 0px 72px;
  }
  .more-story-content{
    display: block;
  }
  .footer-nav ul li{
    padding: 0px 13px 0px 13px;
  }
  .copyright{
    margin-top: 16px;
  }
  .out{
    width: 90vw !important ;
  }
  .finance-content-para {
    line-height: 23px;
    margin: 4px 0px 0px 0px;
    padding: 0px 29px 0px 0px;
}
}

@media screen and (min-width: 540px) and (max-width: 720px) {
  html {
    font-size: 41%;
  }
  .mobile-version{
    display: block;
  }

  .header-container-inner {
    display: none;
  }
  .manufacture-title{
    font-size: 10px;
  }
  .manufacture-heading{
    font-size: 20px;
    line-height: 26px;
  }
  .manufacture-para{
    font-size: 14px;
    line-height: 26px;
  }
  #manufactur-btn{
    display: none;
  }
  
  .editor-3 {
    margin: auto; 
  }
  .editor-1 {
    margin: auto; 
  }

  .editor-2 {
    margin: auto;
    border-style: none none none none;
  }
  .editer-2-box-1-para {
    line-height: 21px;
    margin: 4px 0px 0px 0px;
}

  .twit-box-3 {
    margin: auto;
    margin-top: 40px;
  }

  .twit-box-1 {
    margin: auto;
    margin-bottom: 40px;
  }

  .twit-box-2 {
    margin:40px 0px 0px 0px;
    margin: auto;
  }

  .editor-container-title {
    margin: 0px 0px 0px 0px;
  }

  .input-left {
    margin-top: 25px
  }

  .edit-para {
    font-size: 14px;
  }

  .input-contant-2 {
    padding-bottom: 25px;
  }

  .footer-nav {
    margin: 0px 51px 0px 51px;
  }

  .footer-nav ul li {
    padding: 10px 6px 0px 6px;

  }
  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .our-product ul li {
    padding: 10px 6px 0px 6px;
  }
  .our-product {
    margin-top: 11px;
  }
  .copyright{
    margin-top: 16px;
  }
  .large-adver {
    display: none;
  }

  .smallAdver {
    display: block;
    margin: auto;
  }

  .destop-version {
    display: block ;
  }

  .more-story-lower {
    display: none;
  }
  .manufacture-inner{
    flex-direction: column-reverse;
    width: 90%;
  }

  .manufacture-right img {
    width: 100%;
  }

  .manufacture-right {
    margin: auto;
    width: 100%;
  }

  .manufacture-left {
    width: 100%;
    height: auto;
  }
  .big-card{
    display: none;
  }
  .responses{
    display: block;
  }
  .dis-none{
    display: none;
  }
  .mobile-btn {
    display: block;
  }

  .primium-subscribe-btn {
    display: none;
  }
  .finance-content-para {
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0px 0px 0px;
    width: 80%;
}
.merger-short{
  display: block;
}
.merger-full{
  display: none !important;
}
.vcc-inner{
  border: none;
}
}

@media screen and (min-width: 370px) and (max-width: 540px) {

  .mobile-version{
    display: block;
  }
  .mob-ver{
    display: block;
  }
  .destop-v{
    display: none;
  }

  .header-container-inner {
    display: none;
  }

  .manufacture-title{
    font-size: 10px;
  }
  .manufacture-heading{
    font-size: 20px;
    line-height: 26px;
  }
  .manufacture-para{
    font-size: 14px;
    line-height: 26px;
  }
  #manufactur-btn{
    display: none;
  }

  .twit-box-1 {
    margin: auto;
    margin-bottom: 40px;
  }

  .editor-2 {
    width: auto;
    border-style: none none none none;
  }
  .editor-3{
    margin: auto;
    margin-top: 30px;
  }
  .editer-2-box-1-para {
    line-height: 16px;
    font-weight: 500;
    margin: 2px 0px 0px 0px;
}
  .editor-update{
    margin: 3px 0px 0px 0px;
    font-size: 11px;
  }

  .twit-box-3 {
    margin: auto;
    margin-top: 40px;
  }

  .twit-box-2 {
    margin: 40px 0px 0px 0px;
    margin: auto;
  }

  .editer-2-box-1 {
    width: auto;
    margin-top: 12px;
  }

  .editer-2-box-1-para {
    font-size: 12px;
  }

  .editor-container-title {
    margin: 0px 0px 0px 0px;
  }

  .input-left {
    margin-top: 25px
  }

  .sign-btn {
    height: 36px;
    margin-top: 15px
  }

  .input-field {
    margin: 0px 0px 0px 0px;
    width: 300px;
  }

  .input-contant-2 {
    padding-bottom: 25px;
  }

  .vcc-box-2s {
    height: auto;
  }

  .tv-update-date {
    margin: 0px 11px 0px 0px;
  }

  .update-section-tv {
    margin-top: 4px;
  }

  .finance-content-para {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0px 0px 0px;
  }
  .story-image-1{
    width: 100%;
    height: 100%;
  }
  .story-image-2{
    width: 102%;
    height: 100%;
  }
  .story-image-3{
    width: 107%;
    height: 100%;
  }
  .story-image-4{
    width: 100%;
    height: 100%;
  }
  .story-image-5{
    width: 109%;
    height: 100%;
  }
  .story-image-6{
    width: 100%;
    height: 100%;
  }
  .story-prime-card{
    display: none;
  }

  .mobile-btn {
    display: block;
  }

  .primium-subscribe-btn {
    display: none;
  }

  .large-adver {
    display: none;
  }

 
  .smallAdver {
    display: block;
    margin: auto;
  }

  .more-story-lower {
    display: none;
  }
  .footer-nav {
    margin-top: 5px;
  }
 
  .footer-nav ul li {
    padding: 10px 6px 0px 6px;

  }
  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our-product ul li{
  padding-top: 5px;
  
}
.footer{
  height: 351px;
}
.copyright{
  margin-top: 14px;
  text-align: center;
}
  .manufacture-inner{
    flex-direction: column-reverse;
    width: 100%;
  }

  .manufacture-right {
    width: 100%;

  }

  .manufacture-left {
    width: 100%;
    height: auto;

  }

  .manufacture-right img {
    width: 96%;
  }
  .top-card-1-img{
    width: 120px;
    height: 90px;
  }
  .big-card{
    display: none;
  }
  .responses{
    display: block;
  }
  .dis-none{
    display: none;
  }
  .merger-short{
    display: block;
  }
  .merger-full{
    display: none !important;
  }
  .vcc-inner{
    border: none;
  }
 
}


.carousel::before{
  /* background: linear-gradient(270deg,#000 -1%,hsla(0,0%,100%,0) 85%);
    content: "";
    position: absolute;
    width: 200px;
    height: 310px;
    right: 0px;
    z-index: 22; */
    
    /* background : transparent linear-gradient(to left, black 0%, white 30%); */  
}








