.w-full {
    width: 100%;
    width: 1440px;
    margin: 0px;
    padding: 0px;
}

.w-80 {
    width: 80%;
}

.d-flex {
    display: flex;
}

.d-flex-cen {
    display: flex;
    justify-content: center;
}

.d-flex-s-bet {
    display: flex;
    justify-content: space-between;
}

.d-flex-s-arr {
    display: flex;
    justify-content: space-around;
}

.d-flex-s-eve {
    display: flex;
    justify-content: space-evenly;
}

.T-align-left {
    text-align: left;
}

.header {
    /* width: 80%; */
}

.header-left {
    /* margin-top: 51px; */
}

.header-right {
    /* margin-top: 51px;
    width: 35%; */
}

.header ul {
    /* list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #222222; */
}

.header ul li img {
    /* padding: 0px 10px 0px 0px; */
}

.nav {
    /* width: 80%;
    margin-top: 25px; */
}

.nav-left {
    /* width: 79%;
    height: 40px; */
}

.nav-right {
    /* width: 20%;
    height: 40px;
    text-align: right; */
}

.list ul {
    /* display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: -65px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #222222; */
}

.list ul li {
    /* padding: 0px 11px 0px 11px; */

}
 
 

.nav-right p {
    /* font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #222222; */
}
.manufac-inner {
    height: 330px;
}

.manufac-inner-content {
    width: 48%;
    height: 320px;

}

.manufac-inner-image {
    width: 48%;
    height: 320px;

}

.manufac-title {
    color: #096FFA;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.manufac-heading {
    font-size: 32px;
    letter-spacing: -0.64px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.manufac-para {
    color: #222222;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-size: 400;
}

.manufac-button {
    float: left;
    margin-top: 23px;
    background-color: #096FFA;
    width: 160px;
    height: 34px;
    border-style: none;
    border-radius: 20px;
    color: #FFFFFF;
    letter-spacing: 0.24px;
    font-size: 12px;
}

.menufc-update {
    margin-top: 15px;
}


/* frist-card-- */

.card-container {
    margin-top: 30px;
}

.card {
    width: 274px;
    height: 290px;
}

.card-heading {
    color: #096FFA;
    margin: 17px 0px 8px 0px;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

}

.card-content {
    color: #222222;
    letter-spacing: 0.16px;
    margin-bottom: 9px;
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #222222;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

}

.update {
    color: #798692;
    text-align: left;
}

.updater {
    padding-left: 20px;

}

.editor-inner {
    height: 399px;
}

.left-editor {
    width: 70%;
    height: 397px;
}

.right-editor {
    width: 26%;
    height: 397px;
}

.left-1 {
    width: 44%;
    height: 390px;
}

.left-2 {
    width: 50%;
    height: 390px;
}

.editor-title {
    margin: 10px 0px 10px 0px;
    color: #096FFA;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.editor-content {
    color: #222222;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    letter-spacing: -0.36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}

.Editor-heading {
    margin: 0px 0px 20px 0px;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.left-2-image {
    width: 120px;
    height: 91.43px;
}

.left-2-content {
    padding: 0px 0px 0px 10px;
}

.left-2-title {
    color: #096FFA;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}


.left-2-para {
    color: #222222;
    padding: 3px 0px 6px 0px;
    font-size: 14px;
    letter-spacing: -0.28;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

}

.editor-line {
    width: 90%;
    height: 0px;
    border: 01px solid #E3E3E3;
    margin: 22px 0px 22px 0px;

}

/* .smallAdver {
    width: 300px;
    height: 278px;
    background-color: #F0F0F0;
}

.smallAdver-heading {
    margin: 6px 0px 6px 0px;
    font-size: 12px;
    color: #222222;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

} */

.line {
    width: 80%;
    height: 0px;
    border: 1px solid #E3E3E3;
    margin: 40px 0px 0px 0px;
}

/* twiteter-section-- */

.twitter-box-outer {
    margin: 40px 0px 40px 0px;
}

.box-1 {
    width: 30%;
    height: 390px;
}

.box-2 {
    width: 30%;

    height: 390px;
  
}

.box-3 {
    width: 30%;
    height: 390px;
    justify-content: right;
    align-items: left;
}

.box-2-heading {
    margin: 0px 0px 20px 0px;
    font-size: 22px;
    font-weight: 700;
    color: #222222;
    font-family: "Montserrat", sans-serif;
}

.middle-content {
    text-align: center;
}

.box-2 {
}

.twitter-line {
    height: 0px;
    border: 1px solid #E3E3E3;
}

.AboutCard-outer {
    margin: 40px 0px 0px 0px;
}

.AboutCard-heading {
    color: #222222;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.AboutCard-view {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #222222;
    margin-top: 11px;
    font-size: 14px;
    line-height: 20px;
}

.AboutCard-box-1-content p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #222222;
    margin-top: 11px;
    font-size: 14px;
    line-height: 20px;
}

.updates {
    margin: 25px 0px 0px 0px;
    color: #798692;
    font-size: 12px;
    line-height: 15px;
}

.updates .spane-1 {
    margin: 0px 27px 0px 0px;
}

.About-lower-line {
    height: 0px;
    border: 1px solid #E3E3E3;
    margin-top: 40px;
}




/* maincard-- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 80vw;

}

.container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.container .carousel::-webkit-scrollbar {
    display: none;
}

.container .carousel .item {
    margin: 10px;
    border-radius: 8px;
    flex: none;

}



.container .carousel .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.carousel-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #316DF1;
    text-align: center;
    
}

#carousel-btn-1 {
    position: absolute;
    top: 50%;
    left: 126px;

}

#carousel-btn-2 {
    position: absolute;
    top: 50%;
    right: 126px;

}

.container .buttons button:first-child img {
    transform: rotate(180deg);
}

.AboutCard-outer {
    text-align: center;
}

.AboutCard-outer {
    position: relative;

}









/* primium-- */
.vccircle-outer {
    height: 417px;
    background-color: #000000;
}
.vccircle-heading {
    margin-top: 30px;
}
.vccircle-heading h3 {
    color: white;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.vccircle-heading button {
    color: white;
    background-color: #096FFA;
    width: 112px;
    height: 27px;
    border-radius: 17px;
    border-style: none;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.primium-container {
    margin: auto;
    max-width: 80vw;
}
.primium-container .carousels {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.primium-item {
    height: 300px;
    width: 260px;
    background-color: white;
    position: relative;
}
.primium-container .carousels .primium-item {
    border: 0px solid #bd1515;
    margin: 10px;
    border-radius: 14px;
    flex: none;
    margin-top: 30px;
}
.primium-item-content-1 {
    text-align: left;
    padding: 0px 0px 0px 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #096FFA;
    margin: 10px 0px 0px 0px;
}
.primium-item-content-2 {
    text-align: left;
    padding: 0px 0px 0px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: black;
    line-height: 20px;
    margin: 8px 0px 0px 0px;
}
.spane-2 {
    margin: 0px 18px 0px 0px;
}













/* small-card-- */
.event-outer {
    margin: 40px 0px 0px 0px;
}

.event-heading h3 {
    color: black;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.event-heading p {
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.event-container {
    margin: auto;
    max-width: 80vw;

}

.event-container .carouselss {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.event-item {
    height: 110px;
    width: 400px;
    border: 1px solid #0000001A;
    border-style: none;
    border-radius: 12px;
    background-color: #0000001A;
    flex: none;
    margin-top: 30px;
    margin: 10px;
}




/* vcc-tv-- */
.tv-outer {
    height: 429px;
    border: 1px solid #00000040;
    border-radius: 14px;
}

.tv-display {
    width: 49%;
    height: 312px;
}

.tv-detail {
    width: 48%;
    height: 312px;
    text-align: left;
}

.tv-containt {
    margin: 30px 30px 0px 30px;
}



.tv-detail-detail {
    font-size: 24px;
    line-height: 34px;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 10px 0px 14px 0px;
}



.tv-line {
    width: 100%;
    height: 0px;
    border: 1px solid #E3E3E3;
    margin-top: 40px;
}











